<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/home/styles.css"/>
    <script src="/home/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="banner <%=loggedIn ? 'loggedIn' : ''%>">
        <div class="backdrop"></div>
        <div class="transparency"></div>
        <div class="slogan"><span><%=L("#siteslogan")%></span></div>
      </div>

      <%if(!loggedIn){%>
        <div class="cta">
          <a class="button" href="#">
            <%=L("#comejoinus")%>
            <span class="icon angles-right"></span>
          </a>
          <div class="or">
            <%=L("#alreadyin")%>
            <a href="/<%-uilang%>/<%-L("a-steach|login")%>"><%=L("#login")%>&nbsp;»</a>
          </div>
        </div>
        <div class="welcome">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales accumsan velit a tincidunt. Aliquam eget maximus ex. Etiam diam lectus, dapibus non consequat eu, vehicula sit amet ex. Nunc massa dolor, pellentesque eu scelerisque eget, scelerisque in purus. Vivamus lacus justo, rhoncus a condimentum id, sollicitudin non ligula.
          <a href="/<%-uilang%>/<%-L("mu-ar-deidhinn|about-us")%>"><%=L("#moreinfo")%>...</a>
        </div>
      <%}%>

      <div class="tracks">
        <%for(let i=0; i<myTracks.length; i++){const track=myTracks[i];%>
          <div class="track prominent">
            <span class="status">
              <span class="dots">
                <%if(track.status=="available"){%><span class="blanks">● ● ●</span><%}%>
                <%if(track.status=="owned"){%>● <span class="blanks">● ●</span><%}%>
                <%if(track.status=="finished"){%>● ● <span class="blanks">●</span><%}%>
                <%if(track.status=="approved"){%>● ● ●<%}%>
              </span>
              <%if(track.status=="available"){%><%=L("#available")%><%}%>
              <%if(track.status=="owned"){%><%=L("#owned")%> <a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%}%>
              <%if(track.status=="finished"){%><%=L("#finished", 0)%><a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%=L("#finished", 1)%><%}%>
              <%if(track.status=="approved"){%><%=L("#approved", 0)%><a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%=L("#approved", 1)%><%}%>
            </span>
            <div class="title"><a href="/<%=uilang%>/<%=track.id%>">“<%=track.title%>” <span class="year">(<%=L("#year").toUpperCase()%> 1952)</span></a></div>
            <div class="data">
              <%=L("#trackid")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/track/<%=track.id%>?l=<%-uilang%>"><%=track.id%></a>
              <span class="divider">&middot;</span>
              <%=L("#originaltapeid")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/search?l=<%-uilang%>&search%5Bterm%5D=%2Frepositories%2F2%2Farchival_objects%2F110507&search%5Btype%5D=archival_object">SA1952.127.128</a></a>
              <span class="divider">&middot;</span>
              <%=L("#speaking")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/person/322?l=gd">John MacDonald (1876-1964)</a>
            </div>
            <%if(track.status=="owned"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#continuetranscribing")%>&nbsp;»</a>
            <%} else if(track.status=="finished"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#review")%>&nbsp;»</a>
            <%}%>
          </div>
        <%}%>
        <%for(let i=0; i<tracks.length; i++){const track=tracks[i];%>
          <div class="track">
            <span class="status">
              <span class="dots">
                <%if(track.status=="available"){%><span class="blanks">● ● ●</span><%}%>
                <%if(track.status=="owned"){%>● <span class="blanks">● ●</span><%}%>
                <%if(track.status=="finished"){%>● ● <span class="blanks">●</span><%}%>
                <%if(track.status=="approved"){%>● ● ●<%}%>
              </span>
              <%if(track.status=="available"){%><%=L("#available")%><%}%>
              <%if(track.status=="owned"){%><%=L("#owned")%> <a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%}%>
              <%if(track.status=="finished"){%><%=L("#finished", 0)%><a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%=L("#finished", 1)%><%}%>
              <%if(track.status=="approved"){%><%=L("#approved", 0)%><a href="/<%-uilang%>/u<%-track.ownerROWID%>" class="owner"><%=track.ownerDisplayName%></a><%=L("#approved", 1)%><%}%>
            </span>
            <div class="title"><a href="/<%=uilang%>/<%=track.id%>">“<%=track.title%>” <span class="year">(<%=L("#year").toUpperCase()%> 1952)</span></a></div>
            <div class="data">
              <%=L("#trackid")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/track/<%=track.id%>?l=<%-uilang%>"><%=track.id%></a>
              <span class="divider">&middot;</span>
              <%=L("#originaltapeid")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/search?l=<%-uilang%>&search%5Bterm%5D=%2Frepositories%2F2%2Farchival_objects%2F110507&search%5Btype%5D=archival_object">SA1952.127.128</a></a>
              <span class="divider">&middot;</span>
              <%=L("#speaking")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/person/322?l=gd">John MacDonald (1876-1964)</a>
            </div>
            <%if(track.status=="available"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#open")%>&nbsp;»</a>
            <%}%>
            <%if(track.status=="owned"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#listen")%>&nbsp;»</a>
            <%}%>
            <%if(track.status=="finished"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#listen")%>&nbsp;»</a>
            <%}%>
            <%if(track.status=="approved"){%>
              <a href="/<%=uilang%>/<%=track.id%>" class="button"><%=L("#listenandread")%>&nbsp;»</a>
            <%}%>
          </div>
        <%}%>
      </div>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
