<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>

    <link rel="stylesheet" href="/c-spotmenu.css"/>
    <script type="module" src="/c-spotmenu.js"></script>

    <link rel="stylesheet" href="/c-listing.css"/>
    <script type="module" src="/c-listing.js"></script>

    <link rel="stylesheet" href="/c-adder.css"/>
    <script type="module" src="/c-adder.js"></script>

    <link rel="stylesheet" href="/home/styles.css"/>
    <script src="/home/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="banner <%=loggedIn ? 'loggedIn' : ''%>">
        <div class="backdrop"></div>
        <div class="transparency"></div>
        <div class="slogan"><span><%=L("#siteslogan")%></span></div>
      </div>

      <%if(!loggedIn){%>
        <div class="cta">
          <a class="button" href="/<%-uilang%>/<%-L("claraich|register")%>">
            <%=L("#comejoinus")%>
            <span class="icon angles-right"></span>
          </a>
          <div class="or">
            <%=L("#alreadyin")%>
            <a href="/<%-uilang%>/<%-L("a-steach|login")%>"><%=L("#login")%>&nbsp;»</a>
          </div>
        </div>
        <div class="welcome">
          <%-L("#homepageblurb")%>
          <a href="/<%-uilang%>/<%-L("mu-ar-deidhinn|about-us")%>"><%=L("#moreinfo")%>...</a>
        </div>
      <%}%>

      <div class="stats">
        <div class="box">
          <span class="icon clock"></span>
          <div class="number"><%=stats.hours%>:<%=stats.minutes%></div>
          <div class="legend"><%=L("#hourminustessofar")%></div>
        </div>
        <div class="box">
          <span class="icon keyboard"></span>
          <div class="number"><%=stats.words.toLocaleString("en", {useGrouping: true})%></div>
          <div class="legend"><%=L("#wordssofar")%></div>
        </div>
        <div class="box">
          <span class="icon users"></span>
          <div class="number"><%=stats.users.toLocaleString("en", {useGrouping: true})%></div>
          <div class="legend"><%=L("#numberofvolunteertranscribers")%></div>
          <a href="/<%-uilang%>/u"><%=L("#meetthem")%></a>
        </div>
      </div>

      <div class="tabsContainer">
        <div class="tabs">
          <%if(loggedIn){%>
            <button data-query="mine">
              <span class="icon user"></span>
              <span class="legend"><%=L("#yourcontributions")%></span>
              <span class="number">(<%=tabs.mine%>)</span>
            </button>
          <%}%>
          <button data-query="available">
            <span class="dots"><span class="blanks">● ● ●</span></span>
            <span class="legend"><%=L("#available")%></span>
            <span class="number">(<%=tabs.available%>)</span>
          </button>
          <button data-query="owned">
            <span class="dots">● <span class="blanks">● ●</span></span>
            <span class="legend"><%=L("#ownedanonymously")%></span>
            <span class="number">(<%=tabs.owned%>)</span>
          </button>
          <button data-query="finished">
            <span class="dots">● ● <span class="blanks">●</span></span>
            <span class="legend"><%=L("#finishedanonymously")%></span>
            <span class="number">(<%=tabs.finished%>)</span>
          </button>
          <button data-query="approved">
            <span class="dots">● ● ●</span>
            <span class="legend"><%=L("#approvedanonymously")%></span>
            <span class="number">(<%=tabs.approved%>)</span>
          </button>
        </div>
      </div>

      <div class="nojoy" style="display: none;"><%=L("#notrackstoshow")%></div>
      <div class="sounds loading"></div>

      <%if(loggedIn && isAdmin){%>
        <div class="adminArea">
          <div class="title"><span><%=L("#administratortools")%></span></div>
          <c-adder></c-adder>
          <div class="adminbox">
            <div class="title"><%=L("#monitorwhatsgoingon")%></div>
            <span class="icon clock"></span> <a href="/<%=uilang%>/<%=L("log|log")%>"><%=L("#eventlog")%>&nbsp;»</a>
          </div>
        </div>
      <%}%>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
