<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>

    <link rel="stylesheet" href="/c-listing.css"/>
    <script type="module" src="/c-listing.js"></script>

    <link rel="stylesheet" href="/c-adder.css"/>
    <script type="module" src="/c-adder.js"></script>

    <link rel="stylesheet" href="/home/styles.css"/>
    <script src="/home/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="banner <%=loggedIn ? 'loggedIn' : ''%>">
        <div class="backdrop"></div>
        <div class="transparency"></div>
        <div class="slogan"><span><%=L("#siteslogan")%></span></div>
      </div>

      <%if(!loggedIn){%>
        <div class="cta">
          <a class="button" href="/<%-uilang%>/<%-L("claraich|register")%>">
            <%=L("#comejoinus")%>
            <span class="icon angles-right"></span>
          </a>
          <div class="or">
            <%=L("#alreadyin")%>
            <a href="/<%-uilang%>/<%-L("a-steach|login")%>"><%=L("#login")%>&nbsp;»</a>
          </div>
        </div>
        <div class="welcome">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales accumsan velit a tincidunt. Aliquam eget maximus ex. Etiam diam lectus, dapibus non consequat eu, vehicula sit amet ex. Nunc massa dolor, pellentesque eu scelerisque eget, scelerisque in purus. Vivamus lacus justo, rhoncus a condimentum id, sollicitudin non ligula.
          <a href="/<%-uilang%>/<%-L("mu-ar-deidhinn|about-us")%>"><%=L("#moreinfo")%>...</a>
        </div>
      <%}%>

      <div class="sounds">
        <%for(let i=0; i<mySounds.length; i++){const sound=mySounds[i];%>
          <c-listing class="prominent" data-admin="<%-(loggedIn && isAdmin) ? '1' : ''%>" data-id="<%-sound.id%>" data="<%=JSON.stringify(sound)%>"></c-listing>
        <%}%>
        <%for(let i=0; i<sounds.length; i++){const sound=sounds[i];%>
          <c-listing class="" data-admin="<%-(loggedIn && isAdmin) ? '1' : ''%>" data-id="<%-sound.id%>" data="<%=JSON.stringify(sound)%>"></c-listing>
        <%}%>
      </div>

      <%if(loggedIn && isAdmin){%>
        <c-adder/>
      <%}%>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
