<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/home/styles.css"/>
    <script src="/home/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="banner <%=loggedIn ? 'loggedIn' : ''%>">
        <div class="backdrop"></div>
        <div class="transparency"></div>
        <div class="slogan"><span><%=L("#siteslogan")%></span></div>
      </div>

      <%if(!loggedIn){%>
        <div class="cta">
          <a class="button" href="#">
            <%=L("#comejoinus")%>
            <span class="icon angles-right"></span>
          </a>
          <div class="or">
            <%=L("#alreadyin")%>
            <a href="/<%-uilang%>/<%-L("a-steach|login")%>"><%=L("#login")%>&nbsp;»</a>
          </div>
        </div>
        <div class="welcome">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales accumsan velit a tincidunt. Aliquam eget maximus ex. Etiam diam lectus, dapibus non consequat eu, vehicula sit amet ex. Nunc massa dolor, pellentesque eu scelerisque eget, scelerisque in purus. Vivamus lacus justo, rhoncus a condimentum id, sollicitudin non ligula.
          <a href="/<%-uilang%>/<%-L("mu-ar-deidhinn|about-us")%>"><%=L("#moreinfo")%>...</a>
        </div>
      <%}%>

      <div class="sounds">
        <%for(let i=0; i<mySounds.length; i++){const sound=mySounds[i];%>
          <div class="sound prominent">
            <span class="status">
              <span class="dots">
                <%if(sound.status=="available"){%><span class="blanks">● ● ●</span><%}%>
                <%if(sound.status=="owned"){%>● <span class="blanks">● ●</span><%}%>
                <%if(sound.status=="finished"){%>● ● <span class="blanks">●</span><%}%>
                <%if(sound.status=="approved"){%>● ● ●<%}%>
              </span>
              <%if(sound.status=="available"){%><%=L("#available")%><%}%>
              <%if(sound.status=="owned"){%><%=L("#owned")%> <a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%}%>
              <%if(sound.status=="finished"){%><%=L("#finished", 0)%><a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%=L("#finished", 1)%><%}%>
              <%if(sound.status=="approved"){%><%=L("#approved", 0)%><a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%=L("#approved", 1)%><%}%>
            </span>
            <div class="title"><a href="/<%=uilang%>/<%=sound.id%>">“<%=sound.title%>” <%if(sound.year){%><span class="year">(<%=L("#year").toUpperCase()%> <%=sound.year%>)</span><%}%></a></div>
            <div class="data">
              <%if(sound.speakers.length>0){%>
                <%=L("#speaking")%>:
                <%for(let i=0; i<sound.speakers.length; i++){%>
                  <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-sound.speakers[i].id%>?l=<%-uilang%>">
                    <%=sound.speakers[i].name%>
                    <%if(sound.speakers[i].lifetime){%>(<%=sound.speakers[i].lifetime%>)<%}%>
                  </a> <%if(i<sound.speakers.length-1){%>,<%}%>
                <%}%>
              <%}%>
              <%if(sound.speakers.length>0 && sound.fieldworkers.length>0){%>
                <span class="divider">&middot;</span>
              <%}%>
              <%if(sound.fieldworkers.length>0){%>
                <%if(sound.fieldworkers.length==1){%>
                  <%=L("#fieldworker")%>:
                <%} else {%>
                  <%=L("#fieldworkers")%>:
                <%}%>
                <%for(let i=0; i<sound.fieldworkers.length; i++){%>
                  <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-sound.fieldworkers[i].id%>?l=<%-uilang%>">
                    <%=sound.fieldworkers[i].name%>
                    <%if(sound.fieldworkers[i].lifetime){%>(<%=sound.fieldworkers[i].lifetime%>)<%}%>
                  </a> <%if(i<sound.fieldworkers.length-1){%>,<%}%>
                <%}%>
              <%}%>
            </div>
            <%if(sound.status=="owned"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#continuetranscribing")%>&nbsp;»</a>
            <%} else if(sound.status=="finished"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#review")%>&nbsp;»</a>
            <%}%>
          </div>
        <%}%>
        <%for(let i=0; i<sounds.length; i++){const sound=sounds[i];%>
          <div class="sound">
            <span class="status">
              <span class="dots">
                <%if(sound.status=="available"){%><span class="blanks">● ● ●</span><%}%>
                <%if(sound.status=="owned"){%>● <span class="blanks">● ●</span><%}%>
                <%if(sound.status=="finished"){%>● ● <span class="blanks">●</span><%}%>
                <%if(sound.status=="approved"){%>● ● ●<%}%>
              </span>
              <%if(sound.status=="available"){%><%=L("#available")%><%}%>
              <%if(sound.status=="owned"){%><%=L("#owned")%> <a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%}%>
              <%if(sound.status=="finished"){%><%=L("#finished", 0)%><a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%=L("#finished", 1)%><%}%>
              <%if(sound.status=="approved"){%><%=L("#approved", 0)%><a href="/<%-uilang%>/u<%-sound.ownerROWID%>" class="owner"><%=sound.ownerDisplayName%></a><%=L("#approved", 1)%><%}%>
            </span>
            <div class="title"><a href="/<%=uilang%>/<%=sound.id%>">“<%=sound.title%>” <%if(sound.year){%><span class="year">(<%=L("#year").toUpperCase()%> <%=sound.year%>)</span><%}%></a></div>
            <div class="data">
              <%if(sound.speakers.length>0){%>
                <%=L("#speaking")%>:
                <%for(let i=0; i<sound.speakers.length; i++){%>
                  <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-sound.speakers[i].id%>?l=<%-uilang%>">
                    <%=sound.speakers[i].name%>
                    <%if(sound.speakers[i].lifetime){%>(<%=sound.speakers[i].lifetime%>)<%}%>
                  </a> <%if(i<sound.speakers.length-1){%>,<%}%>
                <%}%>
              <%}%>
              <%if(sound.speakers.length>0 && sound.fieldworkers.length>0){%>
                <span class="divider">&middot;</span>
              <%}%>
              <%if(sound.fieldworkers.length>0){%>
                <%if(sound.fieldworkers.length==1){%>
                  <%=L("#fieldworker")%>:
                <%} else {%>
                  <%=L("#fieldworkers")%>:
                <%}%>
                <%for(let i=0; i<sound.fieldworkers.length; i++){%>
                  <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-sound.fieldworkers[i].id%>?l=<%-uilang%>">
                    <%=sound.fieldworkers[i].name%>
                    <%if(sound.fieldworkers[i].lifetime){%>(<%=sound.fieldworkers[i].lifetime%>)<%}%>
                  </a> <%if(i<sound.fieldworkers.length-1){%>,<%}%>
                <%}%>
              <%}%>
            </div>
            <%if(sound.status=="available"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#open")%>&nbsp;»</a>
            <%}%>
            <%if(sound.status=="owned"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#listen")%>&nbsp;»</a>
            <%}%>
            <%if(sound.status=="finished"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#listen")%>&nbsp;»</a>
            <%}%>
            <%if(sound.status=="approved"){%>
              <a href="/<%=uilang%>/<%=sound.id%>" class="button"><%=L("#listenandread")%>&nbsp;»</a>
            <%}%>
          </div>
        <%}%>
      </div>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
