<link rel="stylesheet" href="/c-identity.css"/>
<script type="module" src="/c-identity.js"></script>

<link rel="stylesheet" href="/header/styles.css"/>

<header>
  <div class="strip strip1">
    <div class="main">
      <a class="tobar" target="_blank" href="https://www.tobarandualchais.co.uk/?l=<%-uilang%>" lang="gd">
        <span class="logo" title="Tobar an Dualchais"></span><span class="caption">TOBAR AN DUALCHAIS</span><span class="icon up-right-from-square"></span>
      </a>
      <span class="uilang">
        <a href="<%=pageUrls["gd"]%>" class="<%=(uilang=="gd" ? "current" : "")%>" lang="gd">Gàidhlig</a>
        <a href="<%=pageUrls["en"]%>" class="<%=(uilang=="en" ? "current" : "")%>" lang="en">English</a>
      </span>
    </div>
  </div>
  <div class="strip strip2">
    <div class="main">
      <%if(isHomepage){%>
        <h1 class="title"><a href="/<%=uilang%>"><%=L("FOSGLADH AN TOBAIR|OPENING THE WELL")%></a></h1>
      <%} else {%>
        <div class="title"><a href="/<%=uilang%>"><%=L("FOSGLADH AN TOBAIR|OPENING THE WELL")%></a></div>
      <%}%>
      <c-identity loggedIn="<%=loggedIn ? 'yes' : 'no'%>" email="<%=email%>">
        <div class="badge">
          <span class="icon user"></span>
          <span class="caption"><%=L("neo-aithnichte|anonymous")%></span>
          <span class="icon angle-down"></span>
        </div>
      </c-identity>
    </div>
  </div>
</header>
