<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>

    <link rel="stylesheet" href="/c-usermenu.css"/>
    <script type="module" src="/c-usermenu.js"></script>

    <link rel="stylesheet" href="/c-strangermenu.css"/>
    <script type="module" src="/c-strangermenu.js"></script>

    <link rel="stylesheet" href="/c-listing.css"/>
    <script type="module" src="/c-listing.js"></script>

    <link rel="stylesheet" href="/user/styles.css"/>
    <script src="/user/scripts.js"></script>
  </head>
  <body data-rowid="<%-profile.rowid%>">
    <%-include("../../includes/header/view.ejs", this)%>
    <main>

      <div class="frame">
        
        <div class="title">
          <div class="headshot">
            <span class="icon user"></span>
          </div>
          <%if(profile.isAdmin){%>
            <div class="badge">
              <span><%=L("#administrator")%></span>
            </div>
          <%}%>
          <h1>
            <span class="name"><%=profile.displayName  || L("#anonymizeduser")%></span>
            <%if(loggedIn && profile.email==email){%><c-usermenu></c-usermenu><%}%>
            <%if(loggedIn && profile.email!=email && isAdmin){%><c-strangermenu user-rowid="<%=profile.rowid%>" is-admin="<%=profile.isAdmin?'yes':'no'%>"></c-strangermenu><%}%>
          </h1>
          <div class="tagline"><%=L("#membersince", 0)%><%=(new Date(profile.registeredWhen)).toLocaleDateString(uilang, {month: "long", year: "numeric"})%><%=L("#membersince", 1)%></div>
        </div>
  
        <%if(profile.bioMarkdown.trim()!=""){%>
          <div class="bio"><%-profile.bioHtml%></div>
        <%}%>
  
        <div class="stats">
          <div class="box">
            <div class="difficulty low"><span class="icon circle"></span> <%=L("#difficultylow")%></div>
            <div class="count"><%=(stats.low).toLocaleString("en", {useGrouping: true})%> <%=L("#words")%></div>
          </div>
          <div class="box">
            <div class="difficulty medium"><span class="icon square"></span> <%=L("#difficultymedium")%></div>
            <div class="count"><%=(stats.medium).toLocaleString("en", {useGrouping: true})%> <%=L("#words")%></div>
          </div>
          <div class="box">
            <div class="difficulty high"><span class="icon diamond"></span> <%=L("#difficultyhigh")%></div>
            <div class="count"><%=(stats.high).toLocaleString("en", {useGrouping: true})%> <%=L("#words")%></div>
          </div>
        </div>
  
      </div>
      <div class="sounds loading"></div>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
