<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    
    <link rel="stylesheet" href="/c-textarea.css"/>
    <script type="module" src="/c-textarea.js"></script>

    <link rel="stylesheet" href="/c-speed.css"/>
    <script type="module" src="/c-speed.js"></script>

    <link rel="stylesheet" href="/transcribe/styles.css"/>
    <script src="/transcribe/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
        <div class="title">
          <h1>Fear a phòs maighdeann-mhara.</h1>
          <div class="data">
            <%=L("Àireamh a’ chlàir|Track ID")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/track/1345?l=<%-uilang%>">1345</a>
            <span class="divider">&middot;</span>
            <%=L("Àireamh an Teip Thùsail|Original Tape ID")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/search?l=<%-uilang%>&search%5Bterm%5D=%2Frepositories%2F2%2Farchival_objects%2F110507&search%5Btype%5D=archival_object">SA1952.127.128</a></a>
            <span class="divider">&middot;</span>
            <%=L("A’ cainnt|Speaking")%>: <a target="_blank" href="https://www.tobarandualchais.co.uk/person/322?l=gd">John MacDonald (1876-1964)</a>
          </div>
        </div>
        <div class="audio">
          <audio controls preload="auto" src="/sounds/1345.mp4"></audio>
        </div>
        <c-textarea>
          <textarea spellcheck="false">Tha àite teann air Inbhir Nis (0:03) ris an abair iad anns a' Bheurla, Kessock Ferry. (0:06) Mar a theireadh sibh, Aiseag Cheasaig. (0:10) Agus bha duine a' gabhail a cheum sìos air a' chladach, (0:17) agus chunnaic e coltas boireannach na cadal. (0:20) Agus fhuair e grèim oirre, (0:23) agus gu dè a bh' ann ach a' mhaighdeann-mhara. (0:25) Agus thug e dhith an cochall, (0:28) agus dar a bheir iad dhith an cochall, (0:31) mar a tha a' chùis air innse, (0:32) chan eil i nas fheàrr na neach eile sa mhuir. (0:36) 'S thug e dhachaigh i agus phòs iad, agus chuir e an cochall fad...</textarea>
        </c-textarea>

        <aside class="toolbox">
          <div class="scrollable">
            <c-speed>
              <label for="speed"><%=L("Luaths na fuaime|Playback speed")%> <span class="value">1&nbsp;×</span></label>
              <input id="speed" type="range"/>
            </c-speed>
  
            <ul class="legend">
              <li>
                <div class="caption"><%=L("Air ais/air aghaidh de 1 diog|Rewind/Forward by 1 second")%></div>
                <div class="keys"><span class="key">Ctrl</span> + <span class="key">&lt;</span> <span class="key">&gt;</span></div>
              </li>
              <li>
                <div class="caption"><%=L("Seinn/Stad/Ath-sheinn|Play/Pause/Replay")%></div>
                <div class="keys"><span class="key">Ctrl</span> + <span class="key">Space</span></div>
              </li>
              <li>
                <div class="caption"><%=L("Cuir stampa-tìde a-steach|Insert a timestamp")%></div>
                <div class="keys"><span class="key">Ctrl</span> + <span class="key">M</span></div>
              </li>
            </ul>
          </div>

          <div class="submission">
            <label><input type="radio" name="finished" value="1" checked> <%=L("Neo-chrìochnaichte, leanaidh mi air adhart a-rithist|Not finished, I will continue later")%></label>
            <label><input type="radio" name="finished" value="1"> <%=L("Crìochnaichte|Finished")%></label>
            <button class="save"><%-L("Sàbhail|Save")%></button>
          </div>
        </aside>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
