<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      <p><%=L("Trying to send an email...")%></p>      
      <pre><%-JSON.stringify(result, null, "  ")%></pre>
    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
