<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/login/styles.css"/>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <div class="container">
        <%if(loginFailed){%>
          <div class="failed">
            <%=L("#loginfailed")%>
          </div>  
        <%}%>
        <form method="post" action="">
          <input type="hidden" name="redirTo" value="<%=redirTo%>"/>
          <div class="line">
            <label>
              <span class="label"><%=L("#emailaddress")%></span>
              <input name="email" value="<%=email%>"/>
            </label>
          </div>
          <div class="line">
            <label>
              <span class="label"><%=L("#password")%></span>
              <input name="password" type="password" value="<%=password%>"/>
            </label>
          </div>
          <div class="line doubleSpaceBefore">
            <button type="submit"><%=L("#login")%></button>
          </div>
          <div class="line spaceBefore">
            <a href="#"><%=L("#forgotpassword")%></a>
          </div>
        </form>
      </div>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
