<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    
    <link rel="stylesheet" href="/c-audio.css"/>
    <script type="module" src="/c-audio.js"></script>

    <link rel="stylesheet" href="/c-textarea.css"/>
    <script type="module" src="/c-textarea.js"></script>

    <link rel="stylesheet" href="/c-speed.css"/>
    <script type="module" src="/c-speed.js"></script>

    <link rel="stylesheet" href="/sound/styles.css"/>
    <script src="/sound/scripts.js"></script>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
        <div class="title">
          <h1>
            “<%=soundTitle%>”
            <%if(year){%><span class="year">(<%=L("#year").toUpperCase()%> <%=year%>)</span><%}%>
            <span class="divider">&middot;</span>
            <a title="<%=L("#trackid")%>" target="_blank" href="https://www.tobarandualchais.co.uk/track/<%=trackID%>?l=<%-uilang%>"><%=trackID%></a>
            <span class="divider">&middot;</span>
            <a title="<%=L("#originaltapeid")%>" target="_blank" href="https://www.tobarandualchais.co.uk/search?l=<%-uilang%>&search%5Bterm%5D=%2Frepositories%2F2%2Farchival_objects%2F<%-tapeID%>&search%5Btype%5D=archival_object"><%=tapeTitle%></a>
          </h1>
          <div class="data">
            <span class="status">
              <span class="dots">
                <%if(status=="available"){%><span class="blanks">● ● ●</span><%}%>
                <%if(status=="owned"){%>● <span class="blanks">● ●</span><%}%>
                <%if(status=="finished"){%>● ● <span class="blanks">●</span><%}%>
                <%if(status=="approved"){%>● ● ●<%}%>
              </span>
              <%if(status=="available"){%><%=L("#available")%><%}%>
              <%if(status=="owned"){%><%=L("#owned")%> <a href="/<%-uilang%>/u<%-ownerROWID%>" class="owner"><%=ownerDisplayName%></a><%}%>
              <%if(status=="finished"){%><%=L("#finished", 0)%><a href="/<%-uilang%>/u<%-ownerROWID%>" class="owner"><%=ownerDisplayName%></a><%=L("#finished", 1)%><%}%>
              <%if(status=="approved"){%><%=L("#approved", 0)%><a href="/<%-uilang%>/u<%-ownerROWID%>" class="owner"><%=ownerDisplayName%></a><%=L("#approved", 1)%><%}%>
            </span>
            <%if(loggedIn && isAdmin){%>
              <button class="delete"><span class="icon trash-can"></span> <%=L("#delete")%></button>
              <span class="divider">&middot;</span>
            <%}%>
            <%if(speakers.length>0){%>
              <%=L("#speaking")%>:
              <%for(let i=0; i<speakers.length; i++){%>
                <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-speakers[i].id%>?l=<%-uilang%>">
                  <%=speakers[i].name%>
                  <%if(speakers[i].lifetime){%>(<%=speakers[i].lifetime%>)<%}%>
                </a> <%if(i<speakers.length-1){%>,<%}%>
              <%}%>
            <%}%>
            <%if(speakers.length>0 && fieldworkers.length>0){%>
              <span class="divider">&middot;</span>
            <%}%>
            <%if(fieldworkers.length>0){%>
              <%if(fieldworkers.length==1){%>
                <%=L("#fieldworker")%>:
              <%} else {%>
                <%=L("#fieldworkers")%>:
              <%}%>
              <%for(let i=0; i<fieldworkers.length; i++){%>
                <a target="_blank" href="https://www.tobarandualchais.co.uk/person/<%-fieldworkers[i].id%>?l=<%-uilang%>">
                  <%=fieldworkers[i].name%>
                  <%if(fieldworkers[i].lifetime){%>(<%=fieldworkers[i].lifetime%>)<%}%>
                </a> <%if(i<fieldworkers.length-1){%>,<%}%>
              <%}%>
            <%}%>
          </div>
        </div>

        <c-audio>
          <audio controls preload="auto" src="/getsoundfile?id=<%-soundID%>"></audio>
        </c-audio>

        <%if(status=="approved" && !loggedIn){%>
          <c-textarea public="yes">
            <textarea name="transcript" spellcheck="false"><%=transcript%></textarea>
          </c-textarea>
          <aside class="toolbox">
            <div class="scrollable">
              <c-speed>
                <label for="speed"><%=L("#speed")%> <span class="value">1&nbsp;×</span></label>
                <input id="speed" type="range"/>
              </c-speed>
              <ul class="legend">
                <li>
                  <div class="caption"><%=L("#playpause")%></div>
                  <div class="keys"><span class="key">Ctrl</span> + <span class="key"><%=L("#space")%></span></div>
                </li>
                <li>
                  <div class="caption"><%=L("#onesecond")%></div>
                  <div class="keys"><span class="key">Ctrl</span> + <span class="key">,</span> <span class="key">.</span></div>
                </li>
              </ul>
            </div>
        </aside>
      <%} else if( (status=="owned" && loggedIn && email==owner) || (status=="finished" && loggedIn && isAdmin) || (status=="approved" && loggedIn && isAdmin) ){%>
          <form method="post" action="">
            <c-textarea>
              <textarea name="transcript" spellcheck="false"><%=transcript%></textarea>
            </c-textarea>
            <aside class="toolbox">
              <div class="scrollable">
                <c-speed>
                  <label for="speed"><%=L("#speed")%> <span class="value">1&nbsp;×</span></label>
                  <input id="speed" type="range"/>
                </c-speed>
                <ul class="legend">
                  <li>
                    <div class="caption"><%=L("#playpause")%></div>
                    <div class="keys"><span class="key">Ctrl</span> + <span class="key"><%=L("#space")%></span></div>
                  </li>
                  <li>
                    <div class="caption"><%=L("#onesecond")%></div>
                    <div class="keys"><span class="key">Ctrl</span> + <span class="key">,</span> <span class="key">.</span></div>
                  </li>
                  <li>
                    <div class="caption"><%=L("#inserttimestamp")%></div>
                    <div class="keys"><span class="key">Ctrl</span> + <span class="key">M</span></div>
                  </li>
                </ul>
              </div>
              <div class="submission">
                <%if( (status=="owned" && loggedIn && email==owner) ){%>
                  <label><input type="radio" name="status" value="owned" checked> <%=L("#savewillcontinue")%></label>
                  <label><input type="radio" name="status" value="available"> <%=L("#savewillnotcontinue")%></label>
                  <label><input type="radio" name="status" value="finished"> <%=L("#savefinished")%></label>
                <%} else if( (status=="finished" && loggedIn && isAdmin) ){%>
                  <label><input type="radio" name="status" value="approved" checked> <%=L("#approve")%></label>
                  <label><input type="radio" name="status" value="available"> <%=L("#reject")%></label>
                  <label><input type="radio" name="status" value="finished"> <%=L("#decidelater")%></label>
                <%} else if( (status=="approved" && loggedIn && isAdmin) ){%>
                  <label><input type="radio" name="status" value="approved" checked> <%=L("#keepapproved")%></label>
                  <label><input type="radio" name="status" value="finished"> <%=L("#cancelapproval")%></label>
                <%}%>
                <button type="submit" class="save"><%=L("#save")%></button>
              </div>
            </aside>
          </form>
        <%} else {%>
          <div class="stage">
            
            <%if(status=="available"){%>
              <%if(loggedIn){%>
                <form method="post" action="">
                  <input type="hidden" name="status" value="owned"/>
                  <button type="submit"><%=L("#starttranscribing")%></button>
                </form>
              <%} else {%>
                <div class="message">
                  <%=L("#trackwaiting")%>
                </div>
                <div class="cta">
                  <a class="button" href="#">
                    <%=L("#comejoinus")%>
                    <span class="icon angles-right"></span>
                  </a>
                  <div class="or">
                    <%=L("#alreadyin")%>
                    <a href="/<%-uilang%>/<%-L("a-steach|login")%>?to=<%-encodeURIComponent("/"+uilang+"/"+soundID)%>"><%=L("#login")%>&nbsp;»</a>
                  </div>
                </div>
              <%}%>
            <%}%>

            <%if(status=="owned"){%>
              <%if(loggedIn){%>
                <div class="message">
                  <%=L("#trackownedbyanother")%>
                </div>
                <div class="cta">
                  <div class="or">
                    <a href="/<%-uilang%>"><%=L("#findsomethingelse")%>&nbsp;»</a>
                  </div>
                </div>
              <%} else {%>
                <div class="message">
                  <%=L("#trackownedbyvolunteer")%>
                </div>
                <div class="cta">
                  <a class="button" href="#">
                    <%=L("#comejoinus")%>
                    <span class="icon angles-right"></span>
                  </a>
                  <div class="or">
                    <%=L("#alreadyin")%>
                    <a href="/<%-uilang%>/<%-L("a-steach|login")%>?to=<%-encodeURIComponent("/"+uilang+"/"+soundID)%>"><%=L("#login")%>&nbsp;»</a>
                  </div>
                </div>
              <%}%>
            <%}%>

            <%if(status=="finished"){%>
              <%if(loggedIn && owner==email){%>
                <form method="post" action="">
                  <input type="hidden" name="status" value="owned"/>
                  <button type="submit" class="smaller"><%=L("#returntotranscribing")%></button>
                </form>
              <%} else {%>
                <div class="message">
                  <%=L("#trackwaitingforapproval")%>
                </div>
                <div class="cta">
                  <a class="button" href="#">
                    <%=L("#comejoinus")%>
                    <span class="icon angles-right"></span>
                  </a>
                  <div class="or">
                    <%=L("#alreadyin")%>
                    <a href="/<%-uilang%>/<%-L("a-steach|login")%>?to=<%-encodeURIComponent("/"+uilang+"/"+soundID)%>"><%=L("#login")%>&nbsp;»</a>
                  </div>
                </div>
              <%}%>
            <%}%>

          </div>
        <%}%>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
