<!DOCTYPE html>
<html lang="<%=uilang%>">
  <head>
    <%-include("../../includes/headContent/view.ejs", this)%>
    <link rel="stylesheet" href="/register/styles.css"/>
  </head>
  <body>
    <%-include("../../includes/header/view.ejs", this)%>
    <main>
      
      <%if(!registrationAttempted || registrationFailed){%>
        <div class="container">
          <%if(registrationFailed){%>
            <div class="failed">
              <%=L(registrationFailed)%>
            </div>  
          <%} else {%>
            <h1><%=L("#comejoinus")%></h1>
          <%}%>
          <div class="left <%if(registrationFailed){%>hidable<%}%>">
            <p>
              <%-L("#signupblurb1", true)%>
            </p>
            <p>
              <%=L("#signupblurb2")%>
              <span class="guidelink">
                <span class="icon circle-info"></span>
                <a class="cta" href="/<%=uilang%>/<%-L("treoir|guide")%>"><%=L("#guidefortranscribers")%>&nbsp;»</a>
              </span>
            </p>
            <p>
              <%=L("#signupblurb3", true)%>
            </p>
          </div>
          <div class="right">
            <form method="post" action="">
              <div class="line">
                <label>
                  <span class="label"><%=L("#displayname")%></span>
                  <input name="displayName" maxlength="50" value="<%=displayName%>"/>
                </label>
                <div class="legend">
                  <%=L("#displaynamelegend")%>
                </div>
              </div>
              <div class="line">
                <label>
                  <span class="label"><%=L("#emailaddress")%></span>
                  <input name="email" value="<%=email%>"/>
                </label>
                <div class="legend">
                  <%=L("#emaillegend")%>
                </div>
              </div>
              <div class="line">
                <label>
                  <span class="label"><%=L("#password")%></span>
                  <input name="password" type="password" value="<%=password%>" autocomplete="new-password"/>
                </label>
                <div class="legend">
                  <%=L("#passwordlegend")%>
                </div>
              </div>
              <div class="line doubleSpaceBefore">
                <button type="submit"><%=L("#register")%></button>
              </div>
              <div class="line legend">
                <%=L("#afterregistration")%>
              </div>
            </form>
          </div>
        </div>
      <%} else {%>
        <div class="container">
          <div class="ok">
            <span class="icon circle-check"></span>
            <div class="message">
              <%=L("#registrationaccepted")%>
            </div>
            <div class="submessage">
              <%=L("#emailshouldarrive")%>
            </div>
          </div>
        </div>
      <%}%>

    </main>
    <%-include("../../includes/footer/view.ejs", this)%>
  </body>
</html>
